html, body {
    height: 100%;
  }
 
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #61abe7;
  }
 
  .front-page, .form-daftar{
    width: 100%;
    max-width: 1000px;
    padding: 15px;
    margin: 2rem auto;
  }
 
  .lihat-pendaftar {
    width: 100%;
    padding: 15px;
    margin: 2rem auto;
  }
 
  .swal2-container{
    z-index: 100000;
  }
 
  .swal2-popup{
    z-index: 99995;
  }